@tailwind base;
@tailwind components;
@tailwind utilities;

.baner {
  background-image: url("/src/images/baner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
nav a:focus {
  color: red;
  text-decoration: underline;
}
.conference {
  background-image: url("/src/images/meetbaner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}
